# use TW account key on ~/Git/tw/ folder:
[includeIf "gitdir:/Users/artur.mello/Git/tw/"]
        path="/Users/artur.mello/Git/tw/.gitconfig"

[includeif "gitdir:/Users/artur.mello/Git/personal/"]
	path="/Users/artur.mello/Git/personal/.gitconfig"

[includeif "gitdir:/Users/artur.mello/Git/ABI/"]
	path="/Users/artur.mello/Git/ABI/.gitconfig"

[init]
	defaultBranch = main
